:root{
    --yellow: #ffd900;
}
*{
    /* box-sizing: border-box; */
    margin: auto;
    padding: none;
    direction: rtl;
    font-family: "YekanBakh-Heavy" !important;
}
a{
    text-decoration: none;
    color: aliceblue;
}
nav{
    background-color: aqua;
    width: 70%;
    height: 58.4px;
    box-sizing: border-box;
    padding-top: 20px;
}
body{
    background: rgb(248, 248, 248);
}
#header-logo{
    /* overflow: hidden; */
    width: 175px;
    height: 40px;
    /* display: flex;
    flex-basis: 50%;
    direction: rtl;
    margin: none; */
    flex-basis: 50%;
}
#test{
    flex-basis: 50%;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#start{
    margin-top:70px;
    background-image: linear-gradient(135deg,#21254e,#2b4a83);
    width: 70%;
    height: fit-content;
    padding: 100px 50px 100px 50px;
    border-radius: 20px;
    color: aliceblue;
    justify-content: space-between;
    display: flex;
}
.images{
    background-size: 100% !important;
    flex-basis: 50%;
}
.txt{
    line-height: 45px;
    font-size: 18px;
    flex-basis: 50%;
    text-align: justify;
}
.txt>h1{
    margin-bottom: 30px;

}
.txt>button{
    border-radius: 15px;
    width:max-content;
    padding: 7px 20px 7px 20px;
    border: none;
}
.fbutt{
    background-color: var(--yellow);
    margin-top:30px;
    font-size: 18px;

}
.sbutt{
    background-color: #435a8a;
    font-size: 18px;
}
.fbutt>a{
    color: black;
}
.other-parts{
    margin-top:70px;
    /* background-image: linear-gradient(135deg,#21254e,#2b4a83); */
    width: 70%;
    height: fit-content;
    padding: 50px 50px 50px 50px;
    border-radius: 20px;
    color: black;
    justify-content: space-between;
    display: flex;
}
.other-txt{
    line-height: 45px;
    font-size: 20px;
    flex-basis: 50%;
    text-align: justify;
}
.other-fbutt{
    background-color: var(--yellow);
}
.other-sbutt{
    background-color: rgba(232,239,254,.6);
    margin-top:30px;
    margin-right: 20px;
}
.other-txt>button{
    border-radius: 15px;
    width:max-content;
    padding: 7px 20px 7px 20px;
    border: none;
}
.other-txt>button>a{
    color: #28457b;
    font-size: 20px;
}
.other-txt>p{
    border-bottom: #dfe1e4 solid 1px;
}
.other-txt>h2{
    color: #747480;
}
.last-text{
    line-height: 45px;
    font-size: 20px;
    flex-basis: 40%;
    text-align: justify;
}
#four{
    flex-basis: 60%;
    /* display: flex; */
}
#end{
    width: 70%;
    height: fit-content;
    padding: 50px 50px 50px 50px;
    border-radius: 20px;
    justify-content: space-between;
    display: block;
    text-align: center;
    line-height: 50px;
    color: black;
    border: #c3c6cd solid 1px;
}
#end>button{
    border-radius: 10px;
    border: none;
}
#end>button>a{
 font-size: 18px;
 padding: 10px;
 color: black;
}
#end>h2{
    color: #747480;
}
#footer_top{
    width: 70%;
    height:fit-content;
    background-color: #fbf6f1;
    margin-top: 30px;
}
.numlink{
    color: #21457f;
    padding: 20px 10px;
}
#footer_top>p{
    font-size: 22px !important;
}
.footer-links{
    color: black;
}
ul{
    list-style-type: none;
    display: flex;
}